<div *ngIf="loading" class="spinner"></div>
<div class="profile" *ngIf="!loading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-body bg-info text-white mb-3">
          <div class="row">
            <div class="col-4 col-md-3 m-auto">
              <img
                id="profile-img"
                class="rounded-circle img-fluid"
                [src]="url + user.profileImage"
              />
            </div>
          </div>
          <div class="text-center">
            <h1 class="display-4 text-center">
              {{ user.firstname }} {{ user.lastname }}
            </h1>

            <h5 class="lead text-center">
              <i
                class="fa fa-user"
                aria-hidden="true"
                style="margin-right:5px;"
              ></i
              >{{ user.username }}
            </h5>

            <h5 class="lead text-center">
              <i
                class="fa fa-envelope"
                aria-hidden="true"
                style="margin-right:5px;"
              ></i
              >{{ user.email }}
            </h5>
            <h5 class="lead text-center">
              <i class="fa fa-calendar" style="margin-right:5px;"></i>
              <em>Joined On</em>
              <em style="margin-left:5px;">{{
                user.date | date: "fullDate"
              }}</em>
            </h5>
            <a [routerLink]="['/edit/profile', user._id]"
              ><i id="edit" class="fa fa-pencil" style="margin-right:5px;"></i
              ><em>Edit profile</em></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-body bg-light mb-3">
          <h3 class="text-center display-4  text-info">
            {{ user.username }}'s Albums
          </h3>
          <hr />
          <div class="row">
            <div
              id="photos"
              class="col-lg-3 col-md-4 col-6"
              *ngFor="let album of albums"
            >
              <a [routerLink]="['/show', album._id]" class="d-block mb-4 h-100">
                <img
                  id="image"
                  class="img-fluid img-thumbnail"
                  [src]="url + album.coverImage"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
