<div class="container" id="content">
  <h1 class="display-4" style="text-align:center; color:black;">
    Edit Album
  </h1>
  <div class="row">
    <div style="width:30%;margin:20px auto">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="title"
            required="required"
            #title="ngModel"
            minlength="5"
            [(ngModel)]="album.title"
            placeholder="Title"
          />
          <div class="alert alert-danger"  *ngIf="title.touched && !title.valid">
            <div *ngIf="title.errors.required">Album Title is required</div>
            <div *ngIf="title.errors.minlength">Album Title must be atleast 5 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="description"
            [(ngModel)]="album.description"
            required="required"
            #description="ngModel"
           placeholder="Description"
          />
          <div class="alert alert-danger"  *ngIf="description.touched && !description.valid">
            <div *ngIf="description.errors.required">Description is required</div>
          </div>
       </div>
        <div class="form-group">
          <label for="coverImage">Cover Picture</label>
          <input
            #coverImage
            id="coverImage"
            type="file"
            name="coverImage"
            required="required"
            (change)="onfileChanged($event)"
            placeholder="Cover Image"
          />
        </div>
        <div class="form-group">
          <label>Privacy</label>
          <div class="form-control">
            <label class="radio-inline">
              <input
                type="radio"
                value="private"
                name="privacy"
                [(ngModel)]="album.privacy"
              />Private
            </label>
            <label class="radio-inline" style="margin-left:10px;">
              <input
                type="radio"
                value="public"
                name="privacy"
                [(ngModel)]="album.privacy"
              />Public
            </label>
            <label class="radio-inline" style="margin-left:10px;">
              <input
                type="radio"
                value="shareable"
                name="privacy"
                [(ngModel)]="album.privacy"
              />Shareable
            </label>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-large btn-primary btn-block"
          [disabled]="!f.valid"
        >
          submit
        </button>
      </form>
    </div>
  </div>
</div>
